.document-container{
  
    border-radius: 2vw;
    box-shadow: $shadow ;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-content: center;
    margin: 4vh 0 ;
    width: 40vw;
    overflow: hidden;

    padding: 2vh 2.5vw;

    * {
        font-family: 'Inter';
    }    

    h2{
        font-family: 'Inter-Medium';
        margin: 0;
        font-weight: 500;
        margin-bottom: .5vw;

    }

    .document-container-data{
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        p{
            margin-right: 2vw;
        }
    }

    .document-theme{
        display: flex;
        div {
            display: flex;
            justify-content: flex-start;
            background-color: #FFB64F;
            border-radius: 2vw;
            p{
                margin: 0;
                padding: 0vh 1vw;
            }
        }
       
    }

    .document-body{

       opacity: .5;
      
       p{
            text-align: justify;
            justify-content: flex-start;
       }
    }

    .document-footer{
        margin-top: 2vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        p{
            color: #949494;
            font-family: 'Inter';
        }
        button{

            cursor: pointer;
        }
    
    }
}

.document-privew-img{
    margin: 0;
    margin-top: 1.5vh;
    height: 25vh;
   
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        image-rendering: crisp-edges;
        object-fit: cover;
        border-radius: .5vw;
   }
}


.btn-source{

    background-color: #7CE3E1;
    border: none;
    border-radius: .5vw;
    font-size: 1.2vw;
    font-family: 'Inter' ;

}


@media handheld, all and (max-width:600px) {

   
    
    .document-container {
       
        width: 90vw;
        justify-content:center;
        align-items: stretch;
        justify-content: center;

        .document-container-data{
            align-items: center;
            justify-content: space-between;
            align-content: center;
            p{
                    font-size: 3vw;
                    margin: 1vh 0;
                    
            }
        }
    }

    
    .document-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        button{
            font-size: 4vw;
        }
        
        p{
            color: #949494;
            font-family: 'Inter';
            margin-bottom: 0;
        }
        
    }


}